html,
body {
  height: 100%;
  margin: 0;
  min-height: 100vh;
}

body {
  background: url("assets/heart.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 1;
}

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100vh;
}

body {
  background: url("assets/heart.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 1;
}
